<div class="container">
  <div class="p-grid">
    <p-sidebar [(visible)]="display" >

      Content
    </p-sidebar>
    <div class="p-col-3 p-md-3 p-lg-3">
      <a href="javascript:"><i class="pi pi-bars toggle icon-menu" *ngIf="mostrarBotaoMenu() && !exibindoMenu"
                               (click)="exibindoMenu = !exibindoMenu"></i></a>
    </div>
    <div class="p-col-3 p-md-3 p-lg-3">
      <p class="title">FACIAL RECOGNITION</p>
    </div>
  </div>
</div>



<p-button type="text" (click)="display = true" icon="pi pi-plus" label="Show"></p-button>
