<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="p-grid">
      <div class="p-col-12 p-md-12 p-lg-12">
        <h1>Cadastrar Professores</h1>
      </div>

      <div class="p-col-12 p-md-12 p-lg-12">
        <p-selectButton [options]="status" name="status" [(ngModel)]="professor.status"></p-selectButton>
      </div>

      <div class="p-col-12 p-md-6 p-lg-6">
        <label style="display: block">Nome:</label>
        <input pInputText type="text" name="nome" [(ngModel)]="professor.nome" required>
      </div>

      <div class="p-col-12 p-md-6 p-lg-6">
        <label style="display: block">E-mail:</label>
        <input pInputText type="text" name="email" [(ngModel)]="professor.email"/>
      </div>

      <div class="p-col-12 p-md-6 p-lg-6">
        <label style="display: block">Usuário:</label>
        <input pInputText type="text" name="usuario" [(ngModel)]="professor.usuario"/>
      </div>

      <div class="p-col-12 p-md-6 p-lg-6">
        <label style="display: block">Senha:</label>
        <input type="password" pPassword name="senha" [(ngModel)]="professor.senha"/>
      </div>

      <div class="p-col-12 p-md-12 p-lg-12">
        <span class="p-buttonset">
          <button pButton icon="pi pi-save" type="submit" class="p-button-success" label="Salvar" [disabled]="f.invalid"></button>
          <button pButton icon="pi pi-plus" class="p-button-info" label="Novo"></button>
        </span>
        <a routerLink="/professor" style="margin-left: 5px;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
