<nav class="navbar">
  <div class="container">
    <div class="p-grid">
      <div class="p-col-12 p-md-12 p-lg-12">
        <a href="javascript:"><i class="pi pi-bars toggle" (click)="exibindoMenu = !exibindoMenu"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" *ngIf="exibindoMenu">
    <li class="navbar-usuario">{{ authService.jwtPayload?.nome }}</li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/aluno">Alunos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/professor">Professores</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="#">Coordenadores</a></li>
    <li class="navbar-menuitem"><a routerLink="#">Sair</a></li>
  </ul>
</nav>
