<div class="container">
  <form autocomplete="off">
    <div class="p-grid">
      <div class="p-col-12 p-md-12 p-lg-12">
        <h1>Cadastrar Alunos</h1>
      </div>

      <div class="p-col-12 p-md-12 p-lg-12">
        <p-selectButton [options]="status"></p-selectButton>
      </div>

      <div class="p-col-12 p-md-6 p-lg-4">
        <label style="display: block">Nome:</label>
        <input pInputText type="text" ngModel name="nome" #nome="ngModel" required>
        <app-input-message [control]="nome" error="required" text="Informe um nome"></app-input-message>
      </div>

      <div class="p-col-12 p-md-6 p-lg-4">
        <label style="display: block">E-mail:</label>
        <input pInputText type="text">
      </div>

      <div class="p-col-12 p-md-6 p-lg-4">
        <label style="display: block">Usuário:</label>
        <input pInputText type="text">
      </div>

      <div class="p-col-12 p-md-6 p-lg-4">
        <label style="display: block">Senha:</label>
        <input type="password" pPassword/>
      </div>

      <div class="p-col-12 p-md-12 p-lg-12">
        <span class="p-buttonset">
          <button pButton icon="pi pi-save" type="submit" class="p-button-success" label="Salvar"></button>
          <button pButton icon="pi pi-plus" class="p-button-info" label="Novo"></button>
        </span>
        <a href="javascript:;" style="margin-left: 5px;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
