<div class="container">
  <form>
    <div class="p-grid">
      <div class="p-col-12 p-md-12 p-lg-12">
        <h1>Cadastrar Alunos</h1>
      </div>

      <div class="p-col-12 p-md-4 p-lg-4">
        <label style="display: block">Nome:</label>
        <input pInputText type="text">
      </div>

      <div class="p-col-12 p-md-4 p-lg-4">
        <label style="display: block">E-mail:</label>
        <input pInputText type="text">
      </div>

      <div class="p-col-12 p-md-4 p-lg-4">
        <label style="display: block">Usuário:</label>
        <input pInputText type="text">
      </div>

      <div class="p-col-12 p-md-4 p-lg-4">
        <label style="display: block">Senha:</label>
        <input type="password" pPassword />
      </div>

    </div>
  </form>
</div>
