.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  text-align: center;
}

.dashboard-card-content {
  text-align: center;
}

.mat-card-header {
  text-align: center;
  display: block;
}

.dashboard-card-content-text {
  font-weight: normal;
  font-size: 15px;
}
