<div class="container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list [cols]="4" class="p-col-12" rowHeight="200px" >
    <mat-grid-tile *ngFor="let card of cards | async">, 'color': card.textColor
      <mat-card class="dashboard-card" [style]="card.style">
        <mat-card-header class="dashboard-card-content">
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <br>
          <div class="qtdesDashboard">{{card.numero}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
